@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* navbar styling */
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position:fixed;
  width: 100%;
  padding: 30px 0;
  /* background: #FFB533; */
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.sticky {
  padding: 15px 0;
  background: #FFB533;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #fff;
  transition: all 0.3s ease;
}

.navbar .sticky .logo a span {
  color: #fff;

}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #111;
}

.navbar .sticky .menu li a:hover {
  color: #fff;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* home styling */
.home {
  display: flex;
  background: url(bg-1.jpg) no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1{
  font-size: 27px;
}

.home .home-content .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #FFB533;
  font-weight: 500;
}


/* about styling */
section{
  padding: 100px 0;
}
.about {
  font-family: "Poppins", sans-serif;
}

.about .tittle {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.about .tittle::before{
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  background: black;
}

.about .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 30%;
}

.about .about-content .right{
  height: 250px;
  width: 250px;
  padding-top: 50px;
  font-size: 20px;
}

.links li a i:hover {
  color: #FFB533;
}

.links li a:hover {
  color: #FFB533;
}

/* projects styling */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 50%;
}

h1::before{
  content: "";
  position: absolute;
  width: 330px;
  height: 3px;
  background: black;
}

.container > h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-top: -1%;
}

.carousel-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.carousel-images {
  width: 80%;
  background: #fa8d8e;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px #F2cd99;
}

.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.carousel-images img:first-of-type {
  display: block;
}

.caption {
  padding-top: 10px;
  text-align: center;
  /* opacity: 0; */
  transition: 500ms ease-in-out;
}

/* .images:hover + .caption {
  opacity: 1;
} */

.carousel-btn {
  align-self: center;
  background: #f2cd99;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #FFB533;
}

.carousel-btn:hover{
  cursor: pointer;
  background: #FFB533;
  box-shadow: 1px 1px #f2cd99;
  color: white;
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .navbar .menu {
     position: fixed;
     height: 100vh;
     width: 100%;
     left: -100%;
     top: 0;
     background: #111;
     text-align: center;
     padding-top: 50px;
     transition: all 0.3s ease;
  }

  .navbar .menu.active{
      left: 0;
  }

  .navbar .menu li {
     display: block;
  }

  .navbar .menu li a {
     display: inline-block;
     margin: 20px 0;
     font-size: 25px;
  }

  .home .home-content .text-2{
    font-size: 70px;
  }

  .home .home-content .text-3{
    font-size: 35px;
  }

  /* about */
  .about .about-content .left {
    padding-left: 0 50px;
    margin: 10px;
  }

  .about .about-content .right {
    padding: 40px;
}

  h1 {
    font-size: 30px;
  }
