@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  margin: 0;
  marginL 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: liner-gadient(rgba(0,0,0,.7), rgba(0,0,0,.7));
  background-image: url(bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
